{% extends 'DmcsNotesManagerBundle:Home:home_base.html.twig' %}
{% block panel_heading %}
    List of your notes
{% endblock %}
{% block panel_body %}
    {% if notes is not null and notes|length != 0 %}
        <div class="list-group">
            {% for note in notes %}
                <a href="#" class="list-group-item">
                    note.title
                    <span class="pull-right">
                        <button class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn btn-xs btn-warning">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="panel-body">
            You haven't created any notes yet!
        </div>
    {% endif %}
{% endblock %}