<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ asset("bundles/dmcsnotesmanager/css/bootstrap.css") }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset("bundles/dmcsnotesmanager/css/custom.css") }}"/>
        {% endblock %}
        {% block head %}
        <title>{% block title %}{% endblock %} - Notes Manager </title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div id="content">
                {% block content %}
                    Body here
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset("bundles/dmcsnotesmanager/js/jquery-2.1.1.js") }}"></script>
            <script src="{{ asset("bundles/dmcsnotesmanager/js/bootstrap.js") }}"></script>
        {% endblock %}
    </body>
</html>
